/*

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Primitive
Version    : 1.0
Released   : 20080425

*/

*
{
	margin: 0px;
}

body
{
	font-family:  sans-serif, verdana, helvetica;
	font-size: 13px;
	padding: 0px;
	background-color: #ffffff;
	color: #222222;
}

a
{
	background-color: inherit;
	color: #0000EE;
}

a:hover
{
	text-decoration: none;
}

p
{
	text-align: justify;
	margin-bottom: 15px;
	line-height: 22px;
}

ul
{
        list-style-type: square;
	padding-left: 15px;
	margin-bottom: 15px;
}

h3
{
	font-size: 20px;
	margin-bottom: 30px;
}

h4
{
	font-size: 13px;
	margin-bottom: 5px;
}

#header
{
	background-color: #0022aa;
	color: #fff;
	padding: 20px 40px 20px 30px;
}

#header h1
{
	font-size: 30px;
}

#header h2
{
	font-size: 14px;
}

#menu
{
	padding: 5px 30px 0px 30px;
	margin-bottom: 30px;
	color: #222222;
	background-color: #f5f5f5;
	border-bottom: solid 1px #DADADA;
}

#menu div
{
	clear: both;
}

#menu ul
{
	display: block;
	position: relative;
	top: 1px;
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}
	
#menu ul li
{
	position: relative;
	float: left;
	border: solid 1px #dadada;
	border-bottom: 0px;
	margin-right: 5px;
}

#menu ul li a
{
	display: block;
	padding: 5px 10px 8px 10px;
	text-decoration: none;
	background-color: inherit;
	color: #333333;
}

#menu ul li a:hover
{
	background-color: #0022AA;
	color: #fff;
}

#menu ul li.active, #menu ul li.active a, #menu ul li.active a:hover
{
	background-color: #ffffff;
	color: #333333;
}

#container
{
	margin: 0px 40px 0px 40px;
}

#primarycontainer
{
	float: left;
	margin-right: -200px;
	width: 100%;
}

#primarycontent
{
	margin-right: 240px;
}

#primarycontent p
{
	margin-bottom: 20px;
}

#secondarycontent
{
	float: right;
	width: 200px;
}

#footer
{
	text-align: center;
	margin: 20px 0px 0px 0px;
	padding-top: 15px;
	border-top: solid 1px #DADADA;
	clear: both;
}

.clearit
{
	clear: both;
	height: 1px;
}
